Our project will be to analyze the Housing Market & Prices. 

The data will be retrived from: https://www.kaggle.com/datasets/rukenmissonnier/final-house

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

The Dataset is going to be a downloaded file called: house.csv

In [42]:
#Create dataframe from csv
df = pd.read_csv("house.csv")

#Print the head of the dataframe
print("\nHEAD OF THE DATAFRAME")
print(df.head())

#Print The information about the dataframe
print("\nINFORMATION ABOUT THE DATAFRAME")
print(df.info())

HEAD OF THE DATAFRAME
   bedroom_count    net_sqm  center_distance  metro_distance  floor  age  \
0              1  26.184098          1286.68      204.003817     22   67
1              1  34.866901          1855.25      186.980360      8   30
2              1  36.980709           692.09      111.224999     24   24
3              1  17.445723          1399.49      237.998760      1   66
4              1  52.587646            84.65      100.996399     20    3

         price
0  96004.80456
1  92473.72257
2  98112.51994
3  92118.32687
4  98976.65318

INFORMATION ABOUT THE DATAFRAME
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4308 entries, 0 to 4307
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bedroom_count    4308 non-null   int64
 1   net_sqm          4308 non-null   float64
 2   center_distance  4308 non-null   float64
 3   metro_distance   4308 non-null   float64
 4   floor            4308 non-null   int64
 5   age              4308 non-null   int64
 6   price            4308 non-null   float64
dtypes: float64(4), int64(3)
memory usage: 235.7 KB
None

Examining the Dataframe, We can see that the label is goiing to be a continous quantity. This means that we will have to use <b>Regression</b> to help predict a continuous quanitity, as opposed to classification which predicts discrete class labels.

Next, We will create the feature matrix and the label vector

In [43]:
#Create feature matrix (X)
X = df.drop('price', axis=1) # all features besides label

#Create label vector (y)
y = df['price'] #label

In [44]:
#Print X to view feature matrix
X

      bedroom_count     net_sqm  center_distance  metro_distance  floor  age
0                 1   26.184098          1286.68      204.003817     22   67
1                 1   34.866901          1855.25      186.980360      8   30
2                 1   36.980709           692.09      111.224999     24   24
3                 1   17.445723          1399.49      237.998760      1   66
4                 1   52.587646            84.65      100.996399     20    3
...             ...         ...              ...             ...    ...  ...
4303              9  175.166533          1299.71      217.739012      2    5
4304              6  215.352151          1346.36       77.724676     14    5
4305              5  299.563972          1585.37      235.537881      3    5
4306              1   29.193907          1896.23      147.223827      4    2
4307              2   54.437573           255.24       25.524020     18    0

[4308 rows x 6 columns]

In [45]:
#Print y to view label vector
y

0        96004.80456
1        92473.72257
2        98112.51994
3        92118.32687
4        98976.65318
            ...
4303    102707.35620
4304     99695.06499
4305     93803.71562
4306     92914.72913
4307     93743.04729
Name: price, Length: 4308, dtype: float64

We can see here that the label vector are all floats. Therfore we must use a regression algorithm.

We will start by splitting the dataset into testing and training sets.

In [46]:
#Split the dataset into training and testing sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, random_state=9)

Since we are working with a continous label, we need to normalize the features.

In [47]:
#Normalize(Scale) the features
scaler = StandardScaler()
#Normalize the Features and not the target!!!!
X_train_normalized = scaler.fit_transform(X_train)
X_test_normalized = scaler.transform(X_test)

We will now be using a linear regression model on the training set

In [48]:
#import
from sklearn.linear_model import LinearRegression

#instatiate object
my_linreg = LinearRegression()

#train on training set with normalized x_train
my_linreg.fit(X_train_normalized, y_train)

#Check the coeeficients of the linear regression model
print(my_linreg.intercept_)

# printing [Theta1, Theta2, Theta3] using attribute "coef_":
print(my_linreg.coef_)

95654.30497786804
[  663.19514902  2469.87126012 -1883.76039318   449.13956523
   936.31093355  -694.45735193]

Using the data we can conclude that the most important feature given is the (net_sqm) feature!

Next we will predict price for the testing set

In [49]:
#predict
y_prediction = my_linreg.predict(X_test_normalized)

print(y_prediction)

[ 95992.2180046   91427.61766554  95487.04144494 ...  95509.20639007
 105580.2184072   91807.49711338]

In [50]:
#import metrics
from sklearn import metrics
#compare the predicted balance with the actual balance by calculating and reporting the RMSE

#calculating MSE
mse = metrics.mean_squared_error(y_test, y_prediction)

#use numpy to find RMMSE
rmse = np.sqrt(mse)

#print out rmse
print("RMSE:",rmse)

RMSE: 2262.032233241182

We will now use 10-fold cross-validation to evaluate the performance of a linear regression in predicting the price.

In [51]:
#import pipeline and cross core from sklearn
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
clf = make_pipeline(StandardScaler(), my_linreg)
#make sure to use normalized
mse_list = cross_val_score(clf, X, y, cv=10, scoring='neg_mean_squared_error')

#make mse postitive to calc rmse
mse_list_positive = -mse_list

#use numpy to calculate rmse
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

#caclculate the mean
print("RMSE with 10-fold Cross-Validation:",rmse_list.mean())

[1301.69414799 1305.86450344 1308.7002405  1325.13874027 1295.25423899
 1318.09791853 1445.54793491 1468.68923988 3411.30547229 4607.86606463]
RMSE with 10-fold Cross-Validation: 1878.8158501438634

decision tree regression

In [ ]:
import numpy as np
from sklearn import linear_model
from sklearn import svm

classifiers = [
    svm.SVR(),
    linear_model.SGDRegressor(),
    linear_model.BayesianRidge(),
    linear_model.LassoLars(),
    linear_model.ARDRegression(),
    linear_model.PassiveAggressiveRegressor(),
    linear_model.TheilSenRegressor(),
    linear_model.LinearRegression()]


from sklearn import metrics
from sklearn import metrics

for item in classifiers:
    print(item)
    clf = item
    clf.fit(X_train_normalized, y_train)
    print(clf.predict(X_test_normalized),'\n')
    y_prediction = clf.predict(X_test_normalized)

    mse = metrics.mean_squared_error(y_test, y_prediction)

#use numpy to find RMMSE
    rmse = np.sqrt(mse)

#print out rmse
    print(str(item)+" RMSE:",rmse, '\n')
    
    clf = make_pipeline(StandardScaler(), clf)
    #make sure to use normalized
    mse_list = cross_val_score(clf, X, y, cv=10, scoring='neg_mean_squared_error')

    #make mse postitive to calc rmse
    mse_list_positive = -mse_list

    #use numpy to calculate rmse
    rmse_list = np.sqrt(mse_list_positive)
    print(rmse_list , '\n')

    #caclculate the mean
    print(str(item)+" RMSE with 10-fold Cross-Validation:",rmse_list.mean(), '\n')

SVR()
[95396.38729374 95134.7895833  95421.04877561 ... 95403.70552264
 95593.08359837 95057.46877351]

SVR() RMSE: 3888.5749834801104

[3437.58647249 3013.59104686 2905.22035677 2731.1755471  2863.5459595
 3161.92804803 3535.14362138 5621.79248334 5352.51114144 4813.1095101 ]

SVR()RMSE with 10-fold Cross-Validation: 3743.560418700774

SGDRegressor()
[ 96070.03651226  91476.99698898  95487.57191247 ...  95523.08461913
 105481.04588079  91840.70145372]

SGDRegressor() RMSE: 2261.7194667657322

[1298.67167935 1305.97133293 1309.41474781 1331.99982524 1294.91519224
 1316.59951242 1439.53881978 1476.95195814 3418.54247598 4621.58918583]

SGDRegressor()RMSE with 10-fold Cross-Validation: 1881.4194729738235

BayesianRidge()
[ 95990.50505427  91430.49580888  95489.82750302 ...  95509.33465641
 105573.03866484  91809.53795716]

BayesianRidge() RMSE: 2261.6787483247454

[1302.30468753 1306.71065968 1309.52040679 1325.94246859 1296.15881076
 1319.2101156  1446.94487387 1470.62328963 3410.40927964 4606.54441064]

BayesianRidge()RMSE with 10-fold Cross-Validation: 1879.436900272765

LassoLars()
[ 95989.29772634  91430.83666973  95484.0807769  ...  95511.78334188
 105573.27998512  91812.25703401]

LassoLars() RMSE: 2261.9126261795245

[1302.49467307 1307.02195384 1309.76980347 1326.154298   1296.4710132
 1319.17852445 1446.51806937 1469.97138488 3409.99057401 4605.83740225]

LassoLars()RMSE with 10-fold Cross-Validation: 1879.3407696541822

ARDRegression()
[ 95988.25336874  91430.55693549  95475.87075378 ...  95515.63459336
 105571.78216008  91815.93060738]

ARDRegression() RMSE: 2262.164631110806

[1303.07636167 1307.73941011 1310.52142272 1326.68055168 1297.168964
 1319.36602908 1446.52306021 1469.68412545 3410.15622619 4607.22439497]

ARDRegression()RMSE with 10-fold Cross-Validation: 1879.8140546077636

PassiveAggressiveRegressor()
[ 96133.52189784  91266.0217841   95413.38718609 ...  95454.16972588
 106630.55544309  91577.51261463]

PassiveAggressiveRegressor() RMSE: 2331.1908322802224

[1218.96738768 1195.7226588  1189.49054911 1221.50337961 1181.90428046
 1174.75045448 1256.84835808 1189.0044958  3568.34392374 4751.40884497]

PassiveAggressiveRegressor()RMSE with 10-fold Cross-Validation: 1794.7944332725012

TheilSenRegressor()
[ 96110.63142495  91340.03478002  95281.69226558 ...  95507.82461541
 106418.52639392  91707.06436798]

TheilSenRegressor() RMSE: 2324.5486902100492