We can start doing our code for our project here

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [9]:
df = pd.read_csv("house.csv")

In [11]:
x = df.drop('price', axis=1)
y = df['price']

In [12]:
x

      bedroom_count     net_sqm  center_distance  metro_distance  floor  age
0                 1   26.184098          1286.68      204.003817     22   67
1                 1   34.866901          1855.25      186.980360      8   30
2                 1   36.980709           692.09      111.224999     24   24
3                 1   17.445723          1399.49      237.998760      1   66
4                 1   52.587646            84.65      100.996399     20    3
...             ...         ...              ...             ...    ...  ...
4303              9  175.166533          1299.71      217.739012      2    5
4304              6  215.352151          1346.36       77.724676     14    5
4305              5  299.563972          1585.37      235.537881      3    5
4306              1   29.193907          1896.23      147.223827      4    2
4307              2   54.437573           255.24       25.524020     18    0

[4308 rows x 6 columns]

In [13]:
y

0        96004.80456
1        92473.72257
2        98112.51994
3        92118.32687
4        98976.65318
            ...
4303    102707.35620
4304     99695.06499
4305     93803.71562
4306     92914.72913
4307     93743.04729
Name: price, Length: 4308, dtype: float64

In [16]:
scalar = StandardScaler()
x_scaled = scalar.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.25, random_state=3)

y_train = y_train.values.ravel()
y_test = y_test.values.ravel()